<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>servlets.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOTP</servlet-name>
        <servlet-class>servlets.checkOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Password</servlet-name>
        <servlet-class>servlets.Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessage</servlet-name>
        <servlet-class>servlets.sendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>servlets.Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friend</servlet-name>
        <servlet-class>servlets.Friend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Following</servlet-name>
        <servlet-class>servlets.Following</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Follower</servlet-name>
        <servlet-class>servlets.Follower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFollower</servlet-name>
        <servlet-class>servlets.ajax.RemoveFollower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFollower</servlet-name>
        <servlet-class>servlets.ajax.UpdateFollower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feed</servlet-name>
        <servlet-class>servlets.Feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>servlets.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FullProfile</servlet-name>
        <servlet-class>servlets.FullProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPost</servlet-name>
        <servlet-class>servlets.SearchPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPost</servlet-name>
        <servlet-class>servlets.GetPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>servlets.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>servlets.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>m</servlet-name>
        <servlet-class>servlets.ajax.GetMessageOnScroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>f</servlet-name>
        <servlet-class>servlets.ajax.GetFeedOnScroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SocketMessage</servlet-name>
        <servlet-class>servlets.ajax.SocketMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLike</servlet-name>
        <servlet-class>servlets.ajax.AddLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveLike</servlet-name>
        <servlet-class>servlets.ajax.RemoveLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>servlets.ajax.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetComment</servlet-name>
        <servlet-class>servlets.ajax.GetComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOTP</servlet-name>
        <url-pattern>/checkOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Password</servlet-name>
        <url-pattern>/Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Friend</servlet-name>
        <url-pattern>/Friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Following</servlet-name>
        <url-pattern>/Following</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Follower</servlet-name>
        <url-pattern>/Follower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFollower</servlet-name>
        <url-pattern>/RemoveFollower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFollower</servlet-name>
        <url-pattern>/UpdateFollower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feed</servlet-name>
        <url-pattern>/Feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullProfile</servlet-name>
        <url-pattern>/FullProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPost</servlet-name>
        <url-pattern>/SearchPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPost</servlet-name>
        <url-pattern>/GetPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>m</servlet-name>
        <url-pattern>/m</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>f</servlet-name>
        <url-pattern>/f</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SocketMessage</servlet-name>
        <url-pattern>/SocketMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLike</servlet-name>
        <url-pattern>/AddLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveLike</servlet-name>
        <url-pattern>/RemoveLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComment</servlet-name>
        <url-pattern>/GetComment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
