.text-color-red{
    color: #C83440;
}
.margin-donator{
    margin-top: 35px;
    
}
.text30{
    font-size: 30px;
    text-align: center;
}
.text25{
    font-size: 25px;
}

.text10{
    font-size: 6px;
    text-align: center;
}
.unederline-red{
    text-decoration:underline #C83440;
}
.mb-0{
    font-size: 20px;
}
h1{
    font-size: 35px;
}


    
